@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Minercraftory;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/Minercraftory.ttf") format("woff2");
}

@theme {
  --color-background: #011017;
  --color-foreground:	#ffffff;
  --color-primary: #64c474;
  --font-digit: "Minercraftory", "sans-serif";
  --font-pixel: "VT323", sans-serif; 
}


html {
  @apply bg-background text-foreground font-pixel;

  body {
    @apply min-h-svh bg-[url("/background.png")];
  }
}
