@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background: hsl(0, 0, 7%);
  --color-foreground:	hsl(150, 100%, 94%);
  --color-primary: hsl(155, 100%, 74%);
}

html {
  @apply bg-background text-foreground;

  body {
    @apply min-h-svh;
  }
}
